<!DOCTYPE html>
{% load blog_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% category_list count=3 %}

<hr>
    <h1>{{ post.title }}</h1>
    <h4>{{ post.subtitle }}</h4>
    <p>{{ post.mini_text }}</p>
    <p>Категория - {{ post.category }}</p>
    Теги - {% for tag in post.tags.all %}
                {% if tag.published %}
                    <a href="{% url 'tag' tag.slug %}">{{ tag.name }}</a>,
                {% endif %}
            {% endfor %}

    <br>
    <small>Автор: {{ post.author }} - {{ post.published_date }}</small><br>
    <small>Просмотры: {{ post.viewed }}</small>
    <hr>

    <h4>Комментарии</h4>
    {% if user.is_authenticated %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Отправить</button>
        </form>
    {% else %}
        <p>Что бы оставить комментарий войдите на сайт</p>
    {% endif %}
    <hr>
    {% for comment in post.comments.all %}
        Пользователь - {{ comment.author }}<br>
        {{ comment.text }} <br>
        Добавлен - {{ comment.create_date }}<br><br>
    {% endfor %}
</body>
</html>