<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Sport</h1>
{% for category in categories %}
    <p><a href="{% url 'category' category.slug %}">{{ category.name }}</a></p>
{% endfor %}
<hr>
{% for post in post_list %}
    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
    <p>{{ post.mini_text }}</p>
    <small>{{ post.published_date }}</small>
    <small>Просмотров - {{ post.viewed }}</small><br>
    <small>Комментариев - {{ post.get_comments_count}}</small>
{% endfor %}

</body>
</html>