<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Sport</h1>
{% for category in categories %}
    <p><a href="{% url 'category' category.slug %}">{{ category.name }}</a></p>
{% endfor %}
<hr>
    <h2>{{ post.title }}</h2>
    <p>{{ post.mini_text }}</p>
    <p>Категория - {{ post.category }}</p>
    Теги - {% for tag in post.tags.all %}
                 {{ tag.name }},
            {% endfor %}
    <br>
    <small>Автор: {{ post.author }} -{{ post.published_date }}</small>
    <hr>

    <h4>Комментарии</h4>
    {% for comment in post.comment_set.all %}
        Пользователь - {{ comment.author }}<br>
        {{ comment.text }} <br>
        Добавлен - {{ comment.create_date }}<br><br>
    {% endfor %}
</body>
</html>